@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&subset=latin-ext');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}


/* navigation */

header img {
    width: 189px;
    height: 24px;
}

header>nav>ul {
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
}

header>nav ul>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    opacity: 0.75;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 40px;
}

header>nav>ul>li {
    display: inline-block;
}


/* jumbotron */

.jumbotron {
    background-image: url("/images/background.png");
    height: 750px;
    width: 100%;
    margin-bottom: 121px;
    padding: 200px 0 150px 0;
    margin-top: -24px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
}

.jumbotron p {
    color: #fff;
    font-size: 22px;
    line-height: 33px;
    margin-top: 41px;
}

.jumbotron button {
    width: 200px;
    height: 46px;
    border-radius: 2px;
    background-color: #e84545;
    margin-top: 81px;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}


/* features */

.features {
    margin-bottom: 125px;
}

.features img {
    display: block;
    margin: auto;
    margin-bottom: 35px;
}

.features h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.features p {
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 74px;
}


/* works */

.works {
    margin-bottom: 101px;
}

.works img {
    margin: 0;
    width: 100%;
    padding: 1px;
}


/* team */

.team img {
    margin-right: 17px;
    height: 270px;
    width: 270px;
    display: block;
    margin: auto;
}

.name {
    color: #2d3033;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.profession {
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.text {
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}


/* download */

.download {
    margin: 100px 0;
    text-align: center;
}

.download h3 {
    color: #2d3033;
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
}

.download p {
    color: #2d3033;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 22px;
}

.download button {
    width: 280px;
    height: 46px;
    border-radius: 2px;
    background-color: #e84545;
    margin-top: 43px;
}


/* footer */

.adress {
    height: 250px;
    background-color: #3a3e64;
    color: #fff;
    padding-top: 73px;
    padding-bottom: 112px;
}

.adress h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.adress p {
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
}

.bottom {
    height: 94px;
    background-color: #313454;
    color: #808080;
    font-size: 14px;
    line-height: 23px;
}

i {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 2px solid #fff;
}

.fa {
    font-size: 18px;
    line-height: 40px;
}