// ---------------
//      FONTS
// ---------------
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype'), url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ---------------
// FONTS VARIABLES
// ---------------
$weight_regular: 400;
$weight_bold: 700;
$weight_extrabold: 900;
//---FONT SIZE---
$font-size__xl: 6.5rem;
$font-size__l: 2.8rem;
$font-size__xm: 2.2rem;
$font-size__m: 1.8rem;
$font-size__s: 1.4rem;
$font-size__xs: 1.3rem;
//---LINE HEIGHT---
$line_height-xs: 21px;
$line_height-s: 23px;
$line_height-xm: 33px;
$line_height-max: 71px;
// ---------------
//     ICONS
// ---------------
$facebook_color: #3b5998;
$twitter_color: #00aced;
$linkedin_color: #007bb6;
.facebook {
  transition: 1s ease;
  &:before {
    content: "\f09a";
  }
  &:hover {
    border: 2px solid $facebook_color;
    color: #FFF;
    background-color: $facebook_color;
  }
}

.twitter {
  transition: 1s ease;
  &:before {
    content: "\f099";
  }
  &:hover {
    border: 2px solid $twitter_color;
    color: #FFF;
    background-color: $twitter_color;
  }
}

.linkedin {
  transition: 1s ease;
  &:before {
    content: "\f0e1";
  }
  &:hover {
    border: 2px solid $linkedin_color;
    background-color: $linkedin_color;
    color: #FFF;
  }
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  &__footer {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 18px;
    line-height: 40px;
    margin-top: 3%;
  }
  &__team {
    color: #c7cbcd;
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin-top: 3%;
    border: 2px solid #c7cbcd;
    line-height: 30px;
    text-align: center;
  }
}