$btn_danger: #e84545;
$profession_color: #e84545;
$feature_text: #6c7279;
$team_name: #2d3033;
$download: #2d3033;
$adress_bg: #3a3e64;
$copy_bg: #313454;
$copy_text: #808080;
$base_color: #FFF;
//=================
// ----------------
//    NAVIGATION
// ----------------
.header {
  &__logo {
    margin-left: 8%;
  }
}


.nav {
  background-color: #2E2F4D;
  width: 100%;
  border-bottom: 2px solid #555971;
  &__list {
    display: block;
    padding-right: 40px;
    border-bottom: none;
    text-align: center
  }
  &__link {
    @include smallBold;
    padding: 7px 12px;
    margin: 0 10px;
    text-transform: uppercase;
    display: inline-block;
    color: $base_color;
    &:hover {
      color: inherit;
    }
    &:after {
      content: '';
      display: block;
      height: 3px;
      width: 0;
      transition: width 800ms ease, background-color 0.5s ease;
      position: relative;
      margin-top: 4px;
    }
    &:hover:after {
      width: 100%;
      background: $btn_danger;
    }
  }
}

//=================
// ----------------
//    JUMBOTRON
// ----------------
.jumbotron {
  height: 750px;
  margin-bottom: 121px;
  padding: 200px 0 150px 0;
  background-image: url('../img/background.jpg');
  &__heading {
    @include jumbotron;
    text-transform: uppercase;
  }
  &__text {
    font-size: $font-size__xm;
    line-height: $line_height-xm;
    margin-top: 41px;
  }
  &__button {
    @include FsWbLs;
    @include btnset;
    margin-top: 81px;
    transition: 1s ease;
  }
}

//=================
// ----------------
//     FEATURE
// ----------------
.feature {
  margin-bottom: 125px;
  color: $feature_text;
  &__logotype {
    display: block;
    margin: auto;
    margin-bottom: 35px;
  }
  &__heading {
    @include smallBold;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__text {
    @include FsLxs;
    margin-bottom: 74px;
  }
}

//=================
// ----------------
//     WORKS
// ----------------
.work {
  &__picture {
    width: 25vw;
    margin-left: -16px;
    overflow: hidden;
  }
}

.hover {
  position: relative;
  cursor: pointer;
  margin: 0 -15px;
  overflow: hidden;
  &__overlay {
    background-color: #2E2F4D;
    width: 25vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    &:hover {
      opacity: 1;
    }
  }
  &__name {
    margin-top: 30%;
  }
}

//=================
// ----------------
//     TEAM
// ----------------
.team {
  margin-top: 125px;
  &__name {
    font-size: $font-size__xm;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2d3033;
  }
  &__profession {
    font-size: $font-size__xs;
    margin-bottom: 31px;
    text-transform: uppercase;
    color: #e84545;
  }
  &__text {
    @include FsLxs;
    color: #6c7279;
  }
}

//=================
// ----------------
//      SLIDER
// ----------------
.slider {
  margin-top: 100px;
  &__text {
    position: static;
    text-align: left;
    padding: 5vw 4vw;
  }
  &__item {
    background: $btn_danger;
  }
  &__opinion {
    font-size: $font-size__l;
    color: $base_color;
  }
  &__name {
    margin-top: 20px;
    font-size: 16px;
    color: $base_color;
  }
  &__list {
    margin-left: 0;
    left: calc(75% - 75px);
    width: 150px;
  }
}

//=================
// ----------------
//     DOWNLOAD
// ----------------
.download {
  margin: 200px 0;
  color: $download;
  &__heading {
    font-size: $font-size__l;
    font-weight: 300;
    line-height: $line_height-xs;
  }
  &__text {
    @include FsWbLs;
    text-transform: uppercase;
    margin-top: 22px;
  }
  &__button {
    @include btnset;
    margin-top: 43px;
  }
}

//=================
// ----------------
//     FOOTER
// ----------------
.adress {
  height: 200px;
  padding-top: 73px;
  padding-bottom: 112px;
  background-color: $adress_bg;
  &__heading {
    @include smallBold;
    text-transform: uppercase;
  }
  &__text {
    @include FsLs;
    opacity: .5;
  }
}

.copyright {
  @include FsLs;
  height: 94px;
  color: $copy_text;
  background-color: $copy_bg;
  padding-top: 20px;
}