  @import '_reset';
@import '_fonts';
@import '_mixins';
@import '_sections';
html {
  font-size: 10px;
}

body {
  font-family: 'raleway';
  color: $base_color;
  max-width: 1920px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .team {
    text-align: center;
    &__text {
      margin-bottom: 1%;
    }
    &__profession {
      margin-bottom: 2%;
    }
    &__photo {
      width: 50vw;
      height: 80vh;
    }
  }
  .social {
    margin-bottom: 5%;
  }
  .adress {
    padding: 10px;
    height: 75vh;
    &__heading {
      margin-top: 4%;
    }
  }
  .nav {
    &__list {
      padding-right: 0;
    }
    &__link {
      padding: 0;
      margin: 0;
      &:hover:after {
        display: none;
      }
    }
  }
}